In [ ]:
a=["akshay","abhijith","adarsh","amal","akhil"]

In [ ]:
a

['akshay', 'abhijith', 'adarsh', 'amal', 'akhil']

In [ ]:
for name in range (0,len(a)):
    print(a[name])

akshay
abhijith
adarsh
amal
akhil

In [ ]:
for name in b:
    print(b[:3])

Traceback (most recent call last):
  File "c:\Users\user\.vscode\extensions\ms-python.python-2024.16.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1, in <module>
NameError: name 'b' is not defined

In [ ]:
for name in b:
    print(name[:3])

Traceback (most recent call last):
  File "c:\Users\user\.vscode\extensions\ms-python.python-2024.16.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1, in <module>
NameError: name 'b' is not defined

In [ ]:
for name in a:
    print(name[:3])

aks
abh
ada
ama
akh

In [ ]:
for name in a:
    print(name[:0:2])

In [ ]:
for name in a:
    print(name[:1:2])

a
a
a
a
a

In [ ]:
for name in a:
    print(name[1:1:2])

In [ ]:
for name in a:
    print(name[0:1:2])

a
a
a
a
a

In [ ]:
for name in a:
    print(name[::2])

asa
ahjt
aas
aa
ahl

In [ ]:
for name in a:
    print(name[:1:2])

a
a
a
a
a

In [ ]:
for name in a:
    print(name[1::2])

khy
biih
drh
ml
ki

In [ ]:
for name in a:
    print(name[::2])

asa
ahjt
aas
aa
ahl

In [ ]:
c="cRisTianO RonLdo"

In [ ]:
c

cRisTianO RonLdo

In [ ]:
c[::1]

cRisTianO RonLdo

In [ ]:
c[:0:1]

In [ ]:
c

cRisTianO RonLdo

In [ ]:
c[0::1]

cRisTianO RonLdo

In [ ]:
c[0::]

cRisTianO RonLdo

In [ ]:
c[::]

cRisTianO RonLdo

In [ ]:
c[0::1]

cRisTianO RonLdo

In [ ]:
for name in c:
    print(name[::1])

c
R
i
s
T
i
a
n
O

R
o
n
L
d
o

In [ ]:
for value in c:
    if value.isupper():
        print(value)

R
T
O
R
L

In [ ]:
for value in c:
    if value.islower():
        print(value)

c
i
s
i
a
n
o
n
d
o

In [ ]:
list1=[]
for value in c:
    if value.islower():
        list1.append(value)

list1

In [ ]:
list1

['c', 'i', 's', 'i', 'a', 'n', 'o', 'n', 'd', 'o']

In [ ]:
list2=[]
for value in c:
    if value.isupper():
        list2.append(value)

In [ ]:
list2

['R', 'T', 'O', 'R', 'L']

In [ ]:
 value in c:
    if value.isupper():
        list3.append(value)

Traceback (most recent call last):
  File "c:\Users\user\.vscode\extensions\ms-python.python-2024.16.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1
    value in c:
IndentationError: unexpected indent

In [ ]:
list3=[]
for value in c:
    if value.isupper():
        list3.append(value)

In [ ]:
list3

['R', 'T', 'O', 'R', 'L']

In [ ]:
list3=[]
list4=[]
for value in c:
    if value.isupper():
        list3.append(value)
    else:
        list4.append(value)

In [ ]:
print(list3)

['R', 'T', 'O', 'R', 'L']

In [ ]:
print(list4)

['c', 'i', 's', 'i', 'a', 'n', ' ', 'o', 'n', 'd', 'o']

In [ ]:
list5=[]
list6=[]
for value in c:
    if value.islower():
        list5.append(value)
    else:
        list6.append(value)

In [ ]:
list5

['c', 'i', 's', 'i', 'a', 'n', 'o', 'n', 'd', 'o']

In [ ]:
list6

['R', 'T', 'O', ' ', 'R', 'L']

In [ ]:
print(list5)

['c', 'i', 's', 'i', 'a', 'n', 'o', 'n', 'd', 'o']

In [ ]:
print(list6)

['R', 'T', 'O', ' ', 'R', 'L']

In [ ]:
c="cRisTi133anO RonLdo"

In [ ]:
c="cRisTianO RonLdo"

In [ ]:
c="cRisTianO 666,,[]\RonLdo"

In [ ]:
list3=[]
list4=[]
others=[]
for value in c:
    if value.isupper():
        list3.append(value)
    elif value.islower():
        list4.append(value)
    else:
        others.append(value)

In [ ]:
print(list3)

['R', 'T', 'O', 'R', 'L']

In [ ]:
print(list4)

['c', 'i', 's', 'i', 'a', 'n', 'o', 'n', 'd', 'o']

In [ ]:
print(others)

[' ', '6', '6', '6', ',', ',', '[', ']', '\\']

In [ ]:
list5=[]
list6=[]
others=[]
for value in c:
    if value.islower():
        list5.append(value)
    elif value.isupper():
        list6.append(value)
    else:
        others.append(value)

In [ ]:
print(list5)

['c', 'i', 's', 'i', 'a', 'n', 'o', 'n', 'd', 'o']

In [ ]:
print(list6)

['R', 'T', 'O', 'R', 'L']

In [ ]:
print(others)

[' ', '6', '6', '6', ',', ',', '[', ']', '\\']

In [ ]:
for value in c:
    if value.islower():
        list5.append(value)
    elif value.isupper():
        list6.append(value)
    else:
        others.append(value)

In [ ]:
list=[100+100*10]

In [ ]:
list

[1100]

In [ ]:
list=[100,100,10]

In [ ]:
sum(list)

210

In [ ]:
list=[100*100,10]

In [ ]:
sum(list)

10010

In [ ]:
list4=[24,34,66,100]

In [ ]:
list4

[24, 34, 66, 100]

In [ ]:
for value in list4():
    print(sum(list4))

Traceback (most recent call last):
  File "c:\Users\user\.vscode\extensions\ms-python.python-2024.16.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1, in <module>
TypeError: 'list' object is not callable

In [ ]:
sum(list4)
for value in list4():
    print(sum(list4))

Traceback (most recent call last):
  File "c:\Users\user\.vscode\extensions\ms-python.python-2024.16.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in <module>
TypeError: 'list' object is not callable

In [ ]:
list4=[24,34,66,100]
list4
sum(list4)
for value in list4():
    print(sum(list4))

Traceback (most recent call last):
  File "c:\Users\user\.vscode\extensions\ms-python.python-2024.16.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 4, in <module>
TypeError: 'list' object is not callable

In [ ]:
sum(list4)

224

In [ ]:
print(sum(list4))

224

In [ ]:
for value in list4():
    print(sum(list4))

Traceback (most recent call last):
  File "c:\Users\user\.vscode\extensions\ms-python.python-2024.16.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1, in <module>
TypeError: 'list' object is not callable

In [ ]:
sum1=0
for value in list4:
    sum1=sum1+value

In [ ]:
sum1

224

In [ ]:
list4=[24,34,66,100]
list4
sum(list4)
sum1=1
for value in list4:
    sum1=sum1+value

In [ ]:
sum1

225

In [ ]:
list4=[24,34,66,100]
list4
sum(list4)
sum1=0
for value in list4:
    sum1=sum1-value

In [ ]:
sum1

-224

In [ ]:
list4=[24,34,66,100]
list4
sum(list4)
sum1=0
for value in list4:
    sum1=sum1*value

In [ ]:
sum1

0

In [ ]:
list5=[1,2,3,4,5,6,7,8]

In [ ]:
list5=[1,2,3,4,5,6,7,8]

In [ ]:
list5

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list5=[1,2,3,4,5,6,7,8]
list5
sum2=0
for value in list5:
    sum2=sum2+value

In [ ]:
sum2

36

In [ ]:
list5=[1,2,3,4,5,6,7,8]
list5
sum1=0
for value in list5:
    sum1=sum1+value

In [ ]:
sum1

36