In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(10)

In [3]:
randn(4,5)

array([[ 1.3315865 ,  0.71527897, -1.54540029, -0.00838385,  0.62133597],
       [-0.72008556,  0.26551159,  0.10854853,  0.00429143, -0.17460021],
       [ 0.43302619,  1.20303737, -0.96506567,  1.02827408,  0.22863013],
       [ 0.44513761, -1.13660221,  0.13513688,  1.484537  , -1.07980489]])

In [4]:
npp=np.random.seed(10)
randn(2,5)

array([[ 1.3315865 ,  0.71527897, -1.54540029, -0.00838385,  0.62133597],
       [-0.72008556,  0.26551159,  0.10854853,  0.00429143, -0.17460021]])

In [5]:
df=pd.DataFrame(randn(4,5),index='A B C D  '.split(),columns='P Q R S T'.split())

In [6]:
df

          P         Q         R         S         T
A  0.433026  1.203037 -0.965066  1.028274  0.228630
B  0.445138 -1.136602  0.135137  1.484537 -1.079805
C -1.977728 -1.743372  0.266070  2.384967  1.123691
D  1.672622  0.099149  1.397996 -0.271248  0.613204

In [7]:
df['P']

A    0.433026
B    0.445138
C   -1.977728
D    1.672622
Name: P, dtype: float64

In [8]:
df['T']

A    0.228630
B   -1.079805
C    1.123691
D    0.613204
Name: T, dtype: float64

In [9]:
df.R

A   -0.965066
B    0.135137
C    0.266070
D    1.397996
Name: R, dtype: float64

In [10]:
type(df["R"])

pandas.core.series.Series

In [11]:
df['Z']=df['S']+df['T']

In [12]:
df

          P         Q         R         S         T         Z
A  0.433026  1.203037 -0.965066  1.028274  0.228630  1.256904
B  0.445138 -1.136602  0.135137  1.484537 -1.079805  0.404732
C -1.977728 -1.743372  0.266070  2.384967  1.123691  3.508659
D  1.672622  0.099149  1.397996 -0.271248  0.613204  0.341956

In [13]:
df.drop('Z',axis=1)

          P         Q         R         S         T
A  0.433026  1.203037 -0.965066  1.028274  0.228630
B  0.445138 -1.136602  0.135137  1.484537 -1.079805
C -1.977728 -1.743372  0.266070  2.384967  1.123691
D  1.672622  0.099149  1.397996 -0.271248  0.613204

In [14]:
df

          P         Q         R         S         T         Z
A  0.433026  1.203037 -0.965066  1.028274  0.228630  1.256904
B  0.445138 -1.136602  0.135137  1.484537 -1.079805  0.404732
C -1.977728 -1.743372  0.266070  2.384967  1.123691  3.508659
D  1.672622  0.099149  1.397996 -0.271248  0.613204  0.341956

In [15]:
df.drop('Z',axis=1,inplace=True)

In [16]:
df

          P         Q         R         S         T
A  0.433026  1.203037 -0.965066  1.028274  0.228630
B  0.445138 -1.136602  0.135137  1.484537 -1.079805
C -1.977728 -1.743372  0.266070  2.384967  1.123691
D  1.672622  0.099149  1.397996 -0.271248  0.613204

In [17]:
df.drop('D',axis=0)

          P         Q         R         S         T
A  0.433026  1.203037 -0.965066  1.028274  0.228630
B  0.445138 -1.136602  0.135137  1.484537 -1.079805
C -1.977728 -1.743372  0.266070  2.384967  1.123691

In [18]:
df

          P         Q         R         S         T
A  0.433026  1.203037 -0.965066  1.028274  0.228630
B  0.445138 -1.136602  0.135137  1.484537 -1.079805
C -1.977728 -1.743372  0.266070  2.384967  1.123691
D  1.672622  0.099149  1.397996 -0.271248  0.613204

In [19]:
df.drop('D',axis=0,inplace=True)

In [20]:
df

          P         Q         R         S         T
A  0.433026  1.203037 -0.965066  1.028274  0.228630
B  0.445138 -1.136602  0.135137  1.484537 -1.079805
C -1.977728 -1.743372  0.266070  2.384967  1.123691

In [21]:
df.loc["A"]

P    0.433026
Q    1.203037
R   -0.965066
S    1.028274
T    0.228630
Name: A, dtype: float64

In [22]:
df.iloc[1]

P    0.445138
Q   -1.136602
R    0.135137
S    1.484537
T   -1.079805
Name: B, dtype: float64

In [23]:
df.iloc[2]

P   -1.977728
Q   -1.743372
R    0.266070
S    2.384967
T    1.123691
Name: C, dtype: float64

In [24]:
df.loc['B','Q']

-1.1366022118310442

In [25]:
df.loc['C','S']

2.384967330711097

In [26]:
df.loc[['B','C'],['T','S']]

          T         S
B -1.079805  1.484537
C  1.123691  2.384967

In [27]:
df.loc[['A','C'],['Q','R']]

          Q         R
A  1.203037 -0.965066
C -1.743372  0.266070

In [28]:
df=pd.DataFrame(randn(4,5),index='A B C D  '.split(),columns='P Q R S T'.split())

In [29]:
df>0

       P      Q      R      S      T
A  False  False   True  False   True
B   True   True  False   True  False
C   True  False  False  False  False
D  False  False   True   True  False

In [30]:
df[df>0]

          P        Q         R         S         T
A       NaN      NaN  0.132708       NaN  1.308473
B  0.195013  0.40021       NaN  1.256472       NaN
C  0.660232      NaN       NaN       NaN       NaN
D       NaN      NaN  0.312170  0.565153       NaN

In [31]:
df[df['P']>0]

          P         Q         R         S         T
B  0.195013  0.400210 -0.337632  1.256472 -0.731970
C  0.660232 -0.350872 -0.939433 -0.489337 -0.804591

In [32]:
 df[df['P']>1]['T']

Series([], Name: T, dtype: float64)

In [33]:
df[df['P']>1][['R','T']]

Empty DataFrame
Columns: [R, T]
Index: []

In [34]:
df[(df["P"]>1)&(df["S"]>-1)]

Empty DataFrame
Columns: [P, Q, R, S, T]
Index: []

In [35]:
df

          P         Q         R         S         T
A -0.267317 -0.549309  0.132708 -0.476142  1.308473
B  0.195013  0.400210 -0.337632  1.256472 -0.731970
C  0.660232 -0.350872 -0.939433 -0.489337 -0.804591
D -0.212698 -0.339140  0.312170  0.565153 -0.147420

In [36]:
df.reset_index()

  index         P         Q         R         S         T
0     A -0.267317 -0.549309  0.132708 -0.476142  1.308473
1     B  0.195013  0.400210 -0.337632  1.256472 -0.731970
2     C  0.660232 -0.350872 -0.939433 -0.489337 -0.804591
3     D -0.212698 -0.339140  0.312170  0.565153 -0.147420

In [37]:
newindex='W X Y Z '.split()
newindex

['W', 'X', 'Y', 'Z']

In [38]:
df['States'] = newindex
df['States1']=10

In [39]:
df

          P         Q         R         S         T States  States1
A -0.267317 -0.549309  0.132708 -0.476142  1.308473      W       10
B  0.195013  0.400210 -0.337632  1.256472 -0.731970      X       10
C  0.660232 -0.350872 -0.939433 -0.489337 -0.804591      Y       10
D -0.212698 -0.339140  0.312170  0.565153 -0.147420      Z       10

In [40]:
df.set_index('States')

               P         Q         R         S         T  States1
States
W      -0.267317 -0.549309  0.132708 -0.476142  1.308473       10
X       0.195013  0.400210 -0.337632  1.256472 -0.731970       10
Y       0.660232 -0.350872 -0.939433 -0.489337 -0.804591       10
Z      -0.212698 -0.339140  0.312170  0.565153 -0.147420       10

In [41]:
df

          P         Q         R         S         T States  States1
A -0.267317 -0.549309  0.132708 -0.476142  1.308473      W       10
B  0.195013  0.400210 -0.337632  1.256472 -0.731970      X       10
C  0.660232 -0.350872 -0.939433 -0.489337 -0.804591      Y       10
D -0.212698 -0.339140  0.312170  0.565153 -0.147420      Z       10

In [42]:
df.set_index('States',inplace=True)

In [43]:
df

               P         Q         R         S         T  States1
States
W      -0.267317 -0.549309  0.132708 -0.476142  1.308473       10
X       0.195013  0.400210 -0.337632  1.256472 -0.731970       10
Y       0.660232 -0.350872 -0.939433 -0.489337 -0.804591       10
Z      -0.212698 -0.339140  0.312170  0.565153 -0.147420       10